{#
/**
 * @file
 * Template to display a greeting item.
 *
 * Available variables:
 * - message: The message to be displayed as greeting.
 * - type: Either `status` or `warning`. Default to `status`.
 */
#}

<div class="greetings greetings--{{ type }} rounded-lg border">
  {{ message }}
</div>
