h1, h2, h3, h4 {
  @apply font-headers leading-none text-gray-700;
}

.fluid-container-wide {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.fluid-container-narrow {
  @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
}
