.greetings {
  padding: 2rem;
  margin-bottom: 1rem;

  &--status {
    border-color: rgb(0 201 81 / 20%);
    background-color: rgb(0 201 81 / 10%);
  }

  &--warning {
    border-color: rgb(240 177 0 / 15%);
    background-color: rgb(240 177 0 / 10%);
  }
}
