sudo: required
language: php
dist: bionic
php:
  - 7.4

services:
  - docker

stages:
  - lint
  - test
  - deploy

env:
  global:
    - GIT_HOST="{{ PANTHEON_GIT_HOST }}"
    - PANTHEON_GIT_URL="{{ PANTHEON_GIT_URL }}"

before_install:
  - export PATH="$HOME/.config/composer/vendor/bin:$PATH"
  # Here we switch to a Google-powered Docker image mirror.
  # There were often failures and very long retry loops with
  # the built-in registry mirror provided by Docker.
  - tmpdaemon=$(mktemp)
  - sudo jq '."registry-mirrors" = ["https://mirror.gcr.io"]' /etc/docker/daemon.json > $tmpdaemon
  - sudo mv $tmpdaemon /etc/docker/daemon.json
  - sudo systemctl daemon-reload
  - sudo systemctl restart docker

jobs:
  include:
    - stage: Lint
      name: "PhpStan"
      script:
        - "composer install"
        - "vendor/bin/phpstan analyse -c phpstan.neon"
    - stage: Lint
      name: "Drupal coding standard: phpcs"
      script:
        - "$TRAVIS_BUILD_DIR/ci-scripts/install_coder.sh || travis_terminate 1;"
        - "export REVIEW_STANDARD=\"Drupal\" && $TRAVIS_BUILD_DIR/ci-scripts/test_coder.sh"
    - stage: Lint
      name: "Drupal coding best practices: phpcs"
      script:
        - "$TRAVIS_BUILD_DIR/ci-scripts/install_coder.sh || travis_terminate 1;"
        - "export REVIEW_STANDARD=\"DrupalPractice\" && $TRAVIS_BUILD_DIR/ci-scripts/test_coder.sh"
    - stage: Lint
      name: "Shell coding standard: shellcheck"
      script:
        - "$TRAVIS_BUILD_DIR/ci-scripts/install_shell.sh || travis_terminate 1;"
        - "$TRAVIS_BUILD_DIR/ci-scripts/test_shell.sh || travis_terminate 1;"
    - stage: Test
      name: "Backend tests: Functional tests"
      if: branch != "master" AND tag IS blank
      script:
        - "$TRAVIS_BUILD_DIR/ci-scripts/install_ddev.sh || travis_terminate 1;"
        - "$TRAVIS_BUILD_DIR/ci-scripts/install_drupal.sh || travis_terminate 1;"
        - "$TRAVIS_BUILD_DIR/ci-scripts/test_phpunit.sh || travis_terminate 1;"
    - stage: Deploy
      name: "Backend tests: Functional tests and deploy to Pantheon"
      if: branch = "master" AND type = push
      script:
        - "$TRAVIS_BUILD_DIR/ci-scripts/install_ddev.sh"
        - "$TRAVIS_BUILD_DIR/ci-scripts/install_drupal.sh || travis_terminate 1;"
        - "$TRAVIS_BUILD_DIR/ci-scripts/test_phpunit.sh || travis_terminate 1;"
        - "$TRAVIS_BUILD_DIR/ci-scripts/prepare_deploy.sh"
        - "ddev robo deploy:pantheon --no-interaction {{ PANTHEON_DEPLOY_BRANCH }}"
