{% import '@server_theme/templates/server-theme-inner-element-layout-base.html.twig' as base %}
{% import '@server_theme/server-theme-container-vertical-spacing.html.twig' as verticalSpacing %}
<a href="{{ url }}" class="{{ base.getBaseClasses() }} {{ verticalSpacing.getClass() }} group justify-between p-6 overflow-hidden bg-gray-200 hover:bg-gray-700">

    <div class="group-hover:text-white">
      {{ items }}
    </div>

    <div class="h-12 w-12 bg-gray-50 group-hover:bg-gray-200 rounded-full grid place-content-center rtl-flip">
      {# Heroicons: arrow-right-circle #}
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-gray-400 group-hover:text-gray-500">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </div>

</a>
