<div class="flex md:grid md:grid-rows-1 lg:grid-cols-2 gap-2 lg:gap-10 overflow-hidden bg-gray-50">

  <div class="w-full md:min-h-[12rem] relative">
    <figure class="child-object-cover h-full">
      <img src="{{ image_url }}" />
    </figure>

    {% if image_items  %}
      <div class="text-xs absolute left-0 rtl:left-auto bottom-0 bg-white opacity-70 p-2">
        {{ image_items }}
      </div>
    {% endif %}
  </div>

  <div class="pt-5 pb-8 px-5 lg:py-8 lg:max-w-lg">
    {{ items }}
  </div>
</div>
