<div class="relative rounded-lg border border-gray-300 w-full h-full overflow-hidden flex flex-row gap-8 md:gap-10 p-4">

  <a href="{{ url }}">
    <figure class="child-object-cover w-96">
        {{ image }}
    </figure>
  </a>

  {{ items }}


</div>
