{% if lines_clamp == '1' %}
  {% set lines_clamp_class = 'line-clamp-1' %}
{% elseif lines_clamp == '2' %}
  {% set lines_clamp_class = 'line-clamp-2' %}
{% elseif lines_clamp == '3' %}
  {% set lines_clamp_class = 'line-clamp-3' %}
{% elseif lines_clamp == '4' %}
  {% set lines_clamp_class = 'line-clamp-4' %}
{% endif %}
{% set target = url.isExternal() ? '_blank' : '_self' %}

<a href="{{ url }}" class="flex flex-row gap-1 items-center" target="{{ target }}">
  <span class="{{ lines_clamp_class }}">{{ title }}</span>
  {% if show_external_icon and url.isExternal() %}
    {# Heroicons: arrow-top-right-on-square #}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 rtl-flip">
      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
    </svg>
  {% endif %}
</a>
