{% macro internalLink(name, url, last) %}
  <a href="{{ url }}" class="{{ not last ? 'border-b border-white' }} py-4 lg:py-0 text-white lg:text-gray-900 text-lg hover:border-b">
    {{ name }}
  </a>
{% endmacro %}

<div class="js-hide-mobile-menu px-8 py-4 lg:p-0 z-40 lg:z-0 w-full absolute lg:static mt-8 lg:mt-0 right-0 bg-gray-500 lg:bg-transparent hidden flex lg:flex flex-col lg:flex-row w-full gap-x-10">
  {% for item in items %}
    {{ _self.internalLink(item.title, item.href, loop.last) }}
  {% endfor %}
</div>
