<div class="rounded-lg border border-gray-300 w-full h-full overflow-hidden">

  <a href="{{ url }}">
    <figure class="child-object-cover h-48">
        {{ image }}
    </figure>
  </a>

  <div class="p-4">
    {{ items }}
  </div>


</div>
