<div>
  {% if title %}
    <h2 class="text-center mb-6">
      {{ title }}
    </h2>
  {% endif %}

  <div class="sm:grid sm:grid-cols-2 md:grid-cols-3 gap-8">
    {% for card in cards %}
      {{ card  }}
    {% endfor %}
  </div>

</div>
