{% macro getClass(align) %}
  {% set classes = [
    'flex flex-col gap-y-12 md:gap-y-15',
    align == 'stretch' ? 'items-stretch',
    align == 'start' ? 'items-start',
    align == 'center' ? 'items-center',
    align == 'end' ? 'items-end',
  ] | join(' ') | trim %}
  {{ classes }}
{% endmacro %}
<div class="{{ _self.getClass(align) }}">
  {{ items }}
</div>
