<div class="accordion-item">
  <div class="accordion-title flex flex-row justify-between gap-x-4 items-center cursor-pointer">
    <div class="font-medium text-2xl py-6">
      {{ title }}
    </div>

    <div>
      {# Close #}
      <div class="minus-circle hidden h-6 w-6 rounded-full grid place-content-center bg-gray-100">
        {# Heroicons: minus (mini) #}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none" class="w-5 h-5 text-gray-900">
          <path d="M6.75 9.25a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5z" />
        </svg>
      </div>


      {# Open #}
      <div class="plus-circle h-6 w-6 rounded-full grid place-content-center bg-gray-100">
        {# Heroicons: plus (mini) #}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none" class="w-5 h-5 text-gray-900">
          <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
        </svg>
      </div>
    </div>

  </div>

  <div class="accordion-brief w-full pb-6 hidden text-gray-500">{{ description }}</div>
</div>
