{% if service == 'email' %}
  {% set shareUrl = "mailto:?subject=" ~ email_subject|url_encode ~ "&body=Check out this site " ~ url.toString()|url_encode %}
  {% set title = 'Share by Email'|t %}
{% elseif service == 'facebook' %}
  {% set shareUrl = "https://www.facebook.com/share.php?u=" ~ url.toString() %}
  {% set title = 'Share on Facebook'|t %}
{% elseif service == 'linkedin' %}
  {% set shareUrl = "https://www.linkedin.com/sharing/share-offsite/?url=" ~ url.toString() %}
  {% set title = 'Share on LinkedIn'|t %}
{% elseif service == 'x' %}
  {% set shareUrl = "https://x.com/intent/tweet?url=" ~ url.toString() %}
  {% set title = 'Share on X'|t %}
{% endif %}

{% macro getIcon(service) %}
  {% if service == 'email' %}
    <svg width="32" height="33" viewBox="0 0.14 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 14.4958V27.5714C0 30.0962 2.0467 32.1429 4.57143 32.1429H27.4286C29.9533 32.1429 32 30.0962 32 27.5714V14.4958L18.3959 22.8675C16.9266 23.7717 15.0734 23.7717 13.6041 22.8675L0 14.4958Z" fill="currentColor"/>
      <path d="M32 11.8119V11.5714C32 9.0467 29.9533 7 27.4286 7H4.57143C2.0467 7 0 9.0467 0 11.5714V11.8119L14.8021 20.9209C15.5367 21.373 16.4633 21.373 17.1979 20.9209L32 11.8119Z" fill="currentColor"/>
    </svg>
  {% elseif service == 'x' %}
    <svg width="32" height="32" viewBox="0 -50 512 512" xmlns="http://www.w3.org/2000/svg">
      <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
      <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" fill="currentColor"/>
    </svg>
  {% elseif service == 'facebook' %}
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <mask id="mask0_3111_21486" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="8" y="0" width="16" height="32">
        <path d="M8 0H23.1579V32H8V0Z" fill="white"/>
      </mask>
      <g mask="url(#mask0_3111_21486)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7891 32V17.3336H8V12.0001H11.7891V7.3332C11.7891 5.25991 12.4264 3.51902 13.7012 2.11141C14.976 0.703803 16.8646 0 19.368 0C19.9995 0 20.6319 0.0248193 21.2634 0.0744578C21.8949 0.124096 22.3626 0.172848 22.6666 0.222487L23.1579 0.296058L22.9471 5.33348H19.6838C18.7944 5.33348 18.2041 5.55597 17.9127 6.00006C17.6196 6.44414 17.4735 7.11072 17.4735 7.99978V12.0001H23.1579L22.7724 17.3336H17.4735V32H11.7891Z" fill="currentColor"/>
      </g>
    </svg>
  {% elseif service == 'linkedin' %}
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <mask id="mask0_3111_21481" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="32">
        <path d="M0 0H32V32H0V0Z" fill="white"/>
      </mask>
      <g mask="url(#mask0_3111_21481)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5002 32.3332V21.0991C17.5002 19.8975 17.8219 18.9731 18.4671 18.3258C19.1122 17.6786 19.9215 17.3549 20.8949 17.3549C21.8903 17.3549 22.6947 17.7134 23.3057 18.4296C23.9159 19.1457 24.2214 20.2444 24.2214 21.7231V32.3332H30.3333V21.0991C30.3333 18.3482 29.6597 16.2048 28.3134 14.6672C26.9662 13.1303 25.1957 12.3619 23.0002 12.3619C20.7592 12.3619 18.9262 13.4598 17.5002 15.6555L17.2962 12.9859H11.2875L11.3891 17.3549V32.3332H17.5002ZM1.61103 32.3332H7.7221V12.9859H1.61103V32.3332ZM4.63284 9.86498H4.59872C3.53511 9.86498 2.66895 9.53555 2.00186 8.87667C1.33395 8.21779 1 7.40374 1 6.43285C1 5.43872 1.33964 4.61886 2.01811 3.97077C2.69739 3.32434 3.59199 2.99988 4.70029 2.99988C5.78746 2.99988 6.65768 3.32434 7.31502 3.97077C7.97074 4.61886 8.31038 5.43872 8.33394 6.43285C8.33394 7.40374 7.9943 8.21779 7.31502 8.87667C6.63574 9.53555 5.74114 9.86498 4.63284 9.86498Z" fill="currentColor"/>
      </g>
    </svg>
  {% endif %}
{% endmacro %}

<a href="{{ shareUrl }}" target="_blank" title="{{ title }}" class="block w-8 h-8 text-gray-600 hover:text-gray-800 focus:text-gray-800">
  {{ _self.getIcon(service) }}
</a>
