{% macro internalLink(name, url, last) %}
  <a href="{{ url }}" class="hover:border-b">
    {{ name }}
  </a>
{% endmacro %}

<div class="hidden sm:flex gap-x-8">
  {% for item in items %}
    {{ _self.internalLink(item.title, item.href, loop.last) }}
  {% endfor %}
</div>
