{% if color == 'light-gray' %}
  {% set color_class = 'text-gray-300' %}
{% elseif color == 'gray' %}
  {% set color_class = 'text-gray-500' %}
{% elseif color == 'dark-gray' %}
  {% set color_class = '  text-gray-700' %}
{% endif %}

{% if color_hover == 'light-gray' %}
  {% set color_hover_class = 'text-gray-300' %}
{% elseif color_hover == 'gray' %}
  {% set color_hover_class = 'text-gray-500' %}
{% elseif color_hover == 'dark-gray' %}
  {% set color_hover_class = 'text-gray-700' %}
{% endif %}


{% set classes = [
  color_class,
  color_hover_class,
] | join(' ') | trim %}

<div class="{{ classes }}">
  {{ element }}
</div>
