<a
  class="mr-1 text-ms px-3 py-1 my-1 text-center leading-normal rounded-large border-2 border-gray-500 bg-gray-700 text-white hover:text-gray-300 rounded-md h-8 overflow-hidden"
  href="{{ url }}"
>
  {{ title }}
</a>
