<div class="flex flex-col space-y-8 justify-end mb-4">
  {% if image %}
    <figure class="w-full h-full child-object-cover">
      {{ image }}
    </figure>
  {% endif %}

  <div class="container-wide w-full">
    <h1 class="tracking-tight text-shadow-lg">{{ title }}</h1>
  </div>
</div>
