<div class="field field--name-og-group field--type-og-group field--label-above">
  <div class="field__label">OG Group</div>
  <div class="field__item border-2 border-black"><a href="{{ link }}">{{ title }}</a></div>
</div>
