<div class="flex flex-col gap-y-3 md:gap-y-5">
  <div class="child-object-cover rounded-lg overflow-hidden">
    {{ image }}
  </div>


  {% if caption %}
    <div class="text-gray-600 text-sm">
      {{ caption }}
    </div>

  {% endif %}

</div>
