<div class="cta p-10 lg:p-24 bg-gray-100">
  <div class="container-wide">
    <div class="text-5xl pb-7">
      {{ title }}
    </div>
    <div class="text-xl pb-10 lg:pb-20">{{ subtitle }}</div>
    {% embed '@server_theme/server-theme-button.html.twig' %}
    {% endembed %}
  </div>
</div>
