<div class="rounded-lg border border-gray-300 w-full">

  <a href="{{ url }}">
    <figure class="child-object-cover overflow-hidden h-48">
        {{ image }}
    </figure>
  </a>

  <div class="flex flex-col space-y-4 p-4 h-28">

    <a href="{{ url }}">
      <h3 class="line-clamp-3 font-gray-600 hover:font-gray-700">{{ title }}</h3>
    </a>
  </div>

</div>
