<a
  class="mr-1 text-xs px-3 py-2 my-1 text-center leading-normal border-gray-500 bg-gray-300 text-gray-900 hover:text-gray-700 rounded-md h-8 overflow-hidden"
  href="{{ url }}"
>
  {{ title }}
</a>
