<div class="bg-gray-100 pt-5 -mt-10">
  <div class="container-wide flex flex-col gap-6 md:gap-8 lg:gap-10">
    <h2>{{ title }}</h2>

    {% embed '@server_theme/server-theme-carousel-base.html.twig' %}
      {% set dots = 'true' %}
    {% endembed %}

    {% if button %}
    <div class="flex justify-center pb-10">
      {{ button }}
    </div>
    {% endif %}
  </div>
</div>
