<div class="cta p-4 lg:p-6 bg-gray-100">
  <div class="container-wide text-center border-b border-white pb-4">
    <div class="text-5xl pb-3">
      {{ title }}
    </div>
    <div class="text-xl pb-4 lg:pb-6">{{ subtitle }}</div>
    {% embed '@server_theme/server-theme-button.html.twig' %}
    {% endembed %}
  </div>
</div>
