{% import '@server_theme/templates/server-theme-inner-element-layout-base.html.twig' as base %}

<div class="{{ base.getBaseClasses() }} flex flex-col md:flex-row gap-8 md:gap-10 p-4 overflow-hidden bg-white">

  <a href="{{ url }}" class="rounded-lg overflow-hidden w-full md:w-1/3 max-h-56 h-fit">
    <figure class="child-object-cover w-full">
        {{ image }}
    </figure>
  </a>

  <div class="md:w-2/3">
  {{ items }}
  </div>
</div>
