<div class="cta p-10 lg:p-24 bg-gray-100">
  <div class="container-wide">
    <div class="text-5xl pb-7">
      {{ title }}
    </div>
    <div class="text-xl pb-10 lg:pb-20">{{ subtitle }}</div>
    <a class="border-gray-500 bg-gray-300 text-gray-900 hover:text-gray-700 text-xl px-10 py-2.5 rounded-lg" href="{{ url }}">{{ url_title }}</a>
  </div>
</div>
