{% if color == 'gray' %}
  {% set color_class = 'text-gray-500' %}
  {% set hover_color_class = 'hover:text-gray-600' %}
{% elseif color == 'dark-gray' %}
  {% set color_class = 'text-gray-700' %}
  {% set hover_color_class = 'hover:text-gray-800' %}
{% endif %}

{% set classes = [
  color_class,
  hover_color_class,
  underline == 'always' ? 'underline',
  underline == 'hover' ? 'hover:underline',
] | join(' ') | trim %}

<div class="{{ classes }}">
  {{ element }}
</div>
