<div class="grid grid-rows-1">

  {#
    We use grid and row/col start to position both the image and the text on
    the same cell.
  #}
  <figure class="row-start-1 col-start-1 child-object-cover">
    {{ image }}
  </figure>

  <div class="row-start-1 col-start-1 z-10 flex flex-col justify-center">
    <div class="container-wide w-full">
      <div class="max-w-prose my-6 md:my-8 p-6 md:p-8 lg:p-10 bg-white/90 flex flex-col gap-3 md:gap-4 lg:gap-5 rounded-lg">
        {{ items }}

      </div>
    </div>
  </div>
</div>
