{% import '@server_theme/templates/server-theme-bg-color-base.html.twig' as bgColorBase %}

{% set color_class = bgColorBase.getBgColor(bg_color) %}

{% if color_class|trim != 'bg-transparent' %}
  {% set py_class = 'py-8 md:py-10' %}
{% endif %}

<div class="{{ color_class }} {{ py_class }}">
  <div class="container-wide w-full">
    {{ element }}
  </div>
</div>
