<div class="flex flex-col sm:grid sm:grid-rows-1 md:grid-cols-2 gap-2 md:gap-8 lg:gap-10 overflow-hidden bg-gray-50">

  {#
  We use grid and row/col start to position both the image and the text on
  the same cell.
  #}
  <div class="w-full grid grid-rows-1">
    <figure class="row-start-1 col-start-1 child-object-cover h-full">
      {{ image }}
    </figure>

    {% if credit  %}
      <div class="row-start-1 col-start-1 self-end h-fit w-fit text-xs bg-white opacity-70 p-2">
        {{ credit }}
      </div>
    {% endif %}
  </div>

  <div class="pt-5 pb-8 px-5 lg:py-8 lg:max-w-lg my-auto">
    {{ items }}
  </div>
</div>
