{% if url and url_title %}
  <a class="inline-block border-gray-500 bg-gray-300 text-gray-900 hover:text-gray-700 text-xl px-10 py-2.5 rounded-lg text-center w-full sm:w-auto" href="{{ url }}">{{ url_title }}</a>
{% endif %}
