<div class="border-b-2 border-gray-200 pb-6">
  <h1>{{ title }}</h1>
  <div class="flex flex-row items-baseline mt-4">
    <div class="uppercase text-lg text-black"> {{ author }}</div>
  </div>
</div>
