{# 'auto-rows-auto' is important here for auto placement. #}
<div class="grid auto-rows-auto grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-6 lg:gap-y-8">
  {% for item in items %}
    {{ item }}
  {% endfor %}
</div>
