<a class="flex flex-col gap-4 w-full" href="{{ url }}">

  <figure class="child-object-cover">
    {{ image }}
  </figure>

  <div class="font-bold">{{ title }}</div>

  <div class="line-clamp-3 text-gray-500">
    {{ body }}
  </div>

</a>
