<div class="h-hero-header flex flex-col justify-end">
  {% if background_image %}
  <img class="mb-8 w-full h-full object-cover" src="{{ background_image }}" />
  {% endif %}

  <div class="fluid-container-{{ title_container|default('narrow') }} w-full">
    <h1 class="mb-4 tracking-tight text-shadow-lg">{{ title }}</h1>
  </div>
</div>
