<a
  class="mr-1 text-ms px-3 py-1 my-1 text-center leading-normal rounded-large border-2 border-gray-6 bg-gray-3 text-white hover:text-gray-9 rounded-md h-8 overflow-hidden"
  href="{{ url }}"
>
  {{ title }}
</a>
