.js-expanding-text--text {
  &[aria-expanded="false"] {
    // The line-clamp must be applied to the immediate parent of the text elements.
    .text-formatted {
      @apply line-clamp-6;
    }
  }

  &[aria-expanded="true"] {
    .text-formatted {
      @apply line-clamp-none;
    }
  }
}
