form {

  .form-item {
    @apply flex flex-col gap-y-4;
  }

  .description {
    @apply text-gray-500 text-sm;
  }

  input.button {
    @apply bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded mt-4;
  }

  &.contact-message-feedback-form {
    @apply my-1;

    .form-item {
      @apply block my-4;
    }

    label {
      @apply block text-base font-bold;
    }

    .form-label {
      @apply block my-4;
    }

    .option {
      @apply inline;
    }
  }
}
