// Search is using Views, and for some elements it's to complex to override
// many twigs, so we target those elements though CSS.

.view-display-id-embed_1 {

  form.views-exposed-form {
    @apply flex gap-x-4 items-end;
  }

  // The search input.
  .form-item-key {
    @apply flex gap-x-2 items-center;
  }

}
