@import "tailwindcss/base";
@import "tailwindcss/components";

@import "container.pcss";
@import "drupal.pcss";
@import "language.pcss";
@import "list.pcss";
@import "paragraph_search.pcss";
@import "rtl.pcss";
@import "typography.pcss";
@import "slick.pcss";

// Must be last import.
@import "tailwindcss/utilities";


