@import "tailwindcss";

@plugin "@tailwindcss/forms";

@theme {
  --font-family-headers: "Roboto", sans-serif;
  --font-family-body: "Open Sans", sans-serif;

  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  --width-8xl: 90rem;
}

@source "../../templates/**/*.html.twig";
@source "../js/**/*.js";
@source "../../server_theme.theme";
@source "../../../../../modules/custom/**/*.php";
@source "../../../../../modules/custom/**/*.html.twig";
@source "../../../../../modules/custom/*/js/**/*.js";

@import "container.css";
@import "form.css";
@import "language.css";
@import "list.css";
@import "menu.css";
@import "paragraph_search.css";
@import "rtl.css";
@import "slick.css";
@import "toggler.css";
@import "typography.css";
@import "user.css";
@import "video.css";


