<div class="og-subscribe-prompt">
  Hi {{ name }},
  <a href="{{ url }}">
    {{ 'click here if you would like to subscribe to this group called'|t }}
  </a>
  <span class="og-subscribe-group-label">{{ label }}</span>
</div>
