<div class="hero-header-wrapper flex flex-col mb-8">
  <div class="w-full h-64 bg-cover" style="background-image: url('{{ background_image }}')"></div>

  <h1 class="mx-auto mt-0 text-6xl">{{ title }}</h1>
</div>
