<div class="flex justify-center">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col items-center w-80 max-h-full text-center pt-8">
        <div class="relative">
            <img class="h-32 w-32 rounded-full mb-4 mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAX8fiDK701YcqAeIvdnhy_MO6OfwGHrdafiwc6OnWVg&usqp=CAU&ec=48665698" alt="Person Name">
        </div>
        <div class="py-4">
            <div class="text-sm font-medium text-gray-900 mb-2">Jane Cooper</div>
            <div class="text-gray-500 text-sm mb-2">Paradigm Representative</div>
            <div class="bg-green-100 text-green-800 rounded-full text-xs py-1 px-2 my-4 mx-8">Admin</div>
        </div>
        <div class="flex justify-center border-t border-gray-200 w-full items-center">
            <span class="flex justify-center text-gray-700 text-sm py-2 px-8 w-full">
                <svg class="m-1" width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.753 1.884L8.75 5.882L16.747 1.884C16.7174 1.37444 16.4941 0.895488 16.1228 0.545227C15.7516 0.194965 15.2604 -9.35847e-05 14.75 3.36834e-08H2.75C2.23958 -9.35847e-05 1.74845 0.194965 1.37718 0.545227C1.00591 0.895488 0.782604 1.37444 0.753 1.884Z" fill="#9CA3AF"/>
                    <path d="M16.75 4.118L8.75 8.118L0.75 4.118V10C0.75 10.5304 0.960714 11.0391 1.33579 11.4142C1.71086 11.7893 2.21957 12 2.75 12H14.75C15.2804 12 15.7891 11.7893 16.1642 11.4142C16.5393 11.0391 16.75 10.5304 16.75 10V4.118Z" fill="#9CA3AF"/>
                </svg>
                Email
            </span>
            <span class="flex justify-center border-l border-gray-200 text-gray-700 text-sm py-2 px-8 w-full">
                <svg class="m-1" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.25 1C0.25 0.447715 0.697715 0 1.25 0H3.40287C3.89171 0 4.3089 0.353413 4.38927 0.835601L5.12858 5.27147C5.20075 5.70451 4.98206 6.13397 4.5894 6.3303L3.04126 7.10437C4.15756 9.87832 6.37168 12.0924 9.14563 13.2087L9.9197 11.6606C10.116 11.2679 10.5455 11.0492 10.9785 11.1214L15.4144 11.8607C15.8966 11.9411 16.25 12.3583 16.25 12.8471V15C16.25 15.5523 15.8023 16 15.25 16H13.25C6.0703 16 0.25 10.1797 0.25 3V1Z" fill="#9CA3AF"/>
                </svg>
                Call
            </span>
        </div>
    </div>
</div>
