web_environment:
  - COMPOSER_EXIT_ON_PATCH_FAILURE=1
  # Un comment when working on a migration and the source is different DDEV
  # installation. And Change the `SomeName` to match the remote source.
  # This is used in setting.ddev.php
  # - DDEV_MIGRATE_REMOTE_SOURCE=ddev-SomeName-db
hooks:
  post-start:
    # Private files directory.
    - exec: mkdir /var/www/private

    # Install profile
    - exec: drush site-install server -y --existing-config

    # Make sure Elasticsearch can accept connections.
    - exec: while ! echo exit | nc elasticsearch 9200; do sleep 1; done

    # Setup Elasticsearch
    - exec: "./vendor/bin/robo elasticsearch:provision http://elasticsearch:9200 '' ''"

    # Compile theme in debug, so we can develop with all Tailwinds' classes.
    # On deploy, we purge un-needed CSS.
    - exec-host: ddev robo theme:compile-debug

    # Execute the migrations.
    - exec: drush pm-enable server_migrate -y
    - exec: drush migrate:import --group server
    - exec: drush pm-uninstall migrate -y

    # Set the homepage.
    - exec: drush set-homepage

    # Clear cache, for example for entity view builder plugins to take effect.
    - exec: drush cr

    # Index content.
    - exec: drush sapi-c
    - exec: drush sapi-i

    # Enable Devel.
    - exec: drush pm-enable devel -y

    # Generate one-time login link.
    - exec: drush uli
