hooks:
  post-start:
    # Install packages for code-sniffer.
    # - exec: composer global require drupal/coder:8.3.5
    # - exec: composer global require dealerdirect/phpcodesniffer-composer-installer
    # Private files directory.
    - exec: mkdir /var/www/private

    # Install profile
    - exec: drush site-install server -y --existing-config

    # Compile theme
    - exec-host: ddev robo theme:compile

    # Generate one-time login link
    - exec: drush uli
