hooks:
  post-start:
    # Private files directory.
    - exec: mkdir /var/www/private

    # Install profile
    - exec: drush site-install server -y --existing-config

    # Setup Elasticsearch
    - exec: "cd .. && ./vendor/bin/robo elasticsearch:provision http://elasticsearch:9200 '' ''"

    # Compile theme in debug, so we can develop with all Tailwinds' classes.
    # On deploy, we purge un-needed CSS.
    - exec-host: ddev robo theme:compile-debug

    # Clear cache, for example for Plugins view builder to take effect.
    - exec: drush cr

    # Generate one-time login link
    - exec: drush uli
