$primary-font: "Open Sans", sans-serif;
$secondary-font: "Freight Display Pro", sans-serif;
$font-size-title: 2.5em;
$title-top-size: 0.8em;
$paragraph-size: 1em;
$button-size: 0.8em;

//Screen Sizes
$mini-screen: 480px;
$small-screen: 720px;
$medium-screen: 960px;
$large-screen: 1080px;
$wide-screen: 1280px;
