$primary-font: "Open Sans", sans-serif;
$secondary-font: "Freight Display Pro", sans-serif;
$font-size-title: 2.5em;
$title-top-size: 0.8em;
$paragraph-size: 1em;
$button-size: 0.8em;

//Screen Sizes
$mini-screen: 480px;
$small-screen: 720px;
$medium-screen: 960px;
$large-screen: 1080px;
$wide-screen: 1280px;

//Colors
$black: #2D2926;
$black-title: #0A3039;
$white: #FFFFFF;
$gray-xd: #75787B;
$gray-d: #9EA1A4;
$gray: #BFC6C9;
$gray-l: #D6D2C4;
$gray-xl: rgba(214, 210, 196, 0.5);
$gray-text: #577a87;

$blue-primary: #05538F;
$blue-xd: #012039;
$blue-d: #033C68;
$blue-l: #0B74C5;
$blue-xl: #438EC7;

$linen-primary: #FFEBD1;
$linen-xd: #FFD7A3;
$linen-d: #FFE2BA;
$linen-l: #FFFFFF;
$linen-xl: #FFFBF6;
