name: CI

on:
  push:
    branches:
      - main
  pull_request:

env:
  DDEV_NO_INSTRUMENTATION: true

jobs:
  phpcs:
    name: Drupal coding standard
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Install parallel
        run: sudo apt-get update && sudo apt-get install -y parallel

      - name: Install Composer dependencies
        run: composer install

      - name: Run PHPCS
        run: vendor/bin/robo phpcs

  phpstan:
    name: PhpStan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Test syntax
        run: ./ci-scripts/test_syntax.sh

      - name: Install Composer dependencies
        run: composer install

      - name: Restore PHPStan result cache
        uses: actions/cache/restore@v4
        with:
          path: .phpstan-cache
          key: phpstan-result-cache-${{ github.sha }}
          restore-keys: phpstan-result-cache-

      - name: Run PHPStan
        run: php -d memory_limit=2G ./vendor/bin/phpstan --no-progress analyse -c phpstan.neon

      - name: Save PHPStan result cache
        if: ${{ !cancelled() }}
        uses: actions/cache/save@v4
        with:
          path: .phpstan-cache
          key: phpstan-result-cache-${{ github.sha }}

  shellcheck:
    name: "Shell coding standard: shellcheck"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install shellcheck
        run: ./ci-scripts/install_shell.sh

      - name: Run shellcheck
        run: ./ci-scripts/test_shell.sh

  test:
    name: "Backend tests: Functional tests"
    runs-on: ubuntu-latest
    needs: [phpcs, phpstan, shellcheck]
    env:
      ROLLBAR_SERVER_TOKEN: ${{ secrets.ROLLBAR_SERVER_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Install DDEV
        run: ./ci-scripts/install_ddev.sh

      - name: Install Drupal
        run: ./ci-scripts/install_drupal.sh

      - name: Run PHPUnit tests
        run: ./ci-scripts/test_phpunit.sh

      - name: Run PHPUnit Rollbar tests
        run: ./ci-scripts/test_phpunit_rollbar.sh
