name: Test

on:
  workflow_run:
    workflows: ["Lint"]
    types:
      - completed

permissions:
  contents: read

jobs:
  functional-tests:
    name: 'Backend tests: Functional tests'
    runs-on: ubuntu-22.04
    # Only run tests if lint workflow succeeded
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    env:
      DDEV_NO_INSTRUMENTATION: true
      ROLLBAR_SERVER_TOKEN: df6ce617465b4980afdecc95ed1b42de
    steps:
      - uses: actions/checkout@v4

      - name: Set up DDEV
        uses: ddev/github-action-setup-ddev@v1

      - name: Configure DDEV
        run: |
          mkdir -p ~/.ddev
          cp ci-scripts/global_config.yaml ~/.ddev/

      - name: Set ROLLBAR_SERVER_TOKEN
        run: ddev config global --web-environment-add="ROLLBAR_SERVER_TOKEN=$ROLLBAR_SERVER_TOKEN"

      - name: Install Drupal
        run: |
          ddev composer install
          ./ci-scripts/install_drupal.sh

      - name: Run PHPUnit tests
        run: ./ci-scripts/test_phpunit.sh

      - name: Run PHPUnit Rollbar tests
        run: ./ci-scripts/test_phpunit_rollbar.sh
